<%- include("partials/header3") -%>

<section class="py-16 bg-color" id="blue3">
    <div class="flex justify-between items-center">
        <h2 class="text-left text-5xl bebas">BLOG</h2>
        <div class="text-right flex justify-left items-start">
            <a href="/blog-page">
                <button class="bg-white py-1 px-2 rounded-full flex items-center space-x-4 md:space-x-8 book-btn"><span>View More</span>
                    <div class="rounded-full arrow1">
                       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                           <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                         </svg>  
                    </div>      
                </button>
            </a>
        </div>
    </div>

    <div class="flex grid grid-cols-1 md:grid-cols-3 gap-8 justify-between items-center mt-8 mb-8">
        <!-- BLOG 1 -->
        <div class=" bg-white rounded-lg ">
            <a href="#">
                <img class="rounded-t-lg w-full" src="images/blog1.png" alt="" />
            </a>
            <div class="p-5">
                <div class="flex justify-between items-center">
                    <p class="text-left  weight">Aug 05, 2024</p>
                    <p class="text-right  weight">chelopra, Bogra</p>
                </div>
                <p class="mb-5 mt-3 text-xl text-black font-bold">Complete Guide to Caring for Cashmere</p>
                <a href="/blog-view" class=" mb-8 inline-flex items-center text-sm font-medium text-center logo-color rounded-lg">
                Read more
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
            </a>
            </div>
        </div>

        <!-- BLOG 2 -->
        <div class="bg-white rounded-lg">
            <a href="#">
                <img class="rounded-t-lg w-full" src="images/blog2.png" alt="" />
            </a>
            <div class="p-5">
                <div class="flex justify-between items-center">
                    <p class="text-left  weight">Aug 05, 2024</p>
                    <p class="text-right  weight">chelopra, Bogra</p>
                </div>
                <p class="mb-5 mt-3 text-xl text-black font-bold">Complete Guide to Caring for Cashmere</p>
                <a href="/blog-view" class=" mb-8 inline-flex items-center text-sm font-medium text-center logo-color rounded-lg">
                Read more
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
            </a>
            </div>
        </div>

        <!-- BLOG 3 -->
        <div class="bg-white rounded-lg">
            <a href="#">
                <img class="rounded-t-lg w-full" src="images/blog3.png" alt="" />
            </a>
            <div class="p-5">
                <div class="flex justify-between items-center">
                    <p class="text-left  weight">Aug 05, 2024</p>
                    <p class="text-right  weight">chelopra, Bogra</p>
                </div>
                <p class="mb-5 mt-3 text-xl text-black font-bold">Complete Guide to Caring for Cashmere</p>
                <a href="/blog-view" class=" mb-8 inline-flex items-center text-sm font-medium text-center logo-color rounded-lg">
                Read more
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
            </a>
            </div>
        </div>
    </div>
</section>


    <%- include("partials/footer") -%>