<%- include("partials/header4") -%>

    <section class="bg-color mt-10" id="blue3">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="text-left mb-4 md:mb-0">
                <h2 class=" mb-2 text-5xl bebas">Our current locations</h2>
                <p class="mt-2">You’ll find Mum’s Laundry at the following convenient locations.</p>
                <p class="mt-2">Click below for details of our current locations</p>
            </div>
            <div class="text-right flex justify-left items-start hidden">
                <form class="max-w-xl mx-auto">
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                        </div>
                        <input type="search" id="default-search" class="block input-width p-4 ps-10 text-sm text-black border border-white rounded-full bg-white" placeholder="Search" required />
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="py-16" id="blue3">
        <div class="w-full mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-12 mb-16 md:mb-2">
            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/location.png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-6">Manila Philippines</h3>
                <p class="text-black-500 flex items-center"><i class="fa fa-solid fa-location-arrow pr-2"></i>Cecilia Chapman 711-2880 Nulla St.Mankato Mississippi 96522</p>
                <p class="text-black-500"><i class="fa fa-solid fa-phone pr-2"></i>(257) 563-7401</p>
            </div>
            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/location.png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-6">Cebu City, Philippines</h3>
                <p class="text-black-500 flex items-center"><i class="fa fa-solid fa-location-arrow pr-2"></i>Cecilia Chapman 711-2880 Nulla St.Mankato Mississippi 96522</p>
                <p class="text-black-500"><i class="fa fa-solid fa-phone pr-2"></i>(257) 563-7401</p>
            </div>
            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/location.png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-6">Davao City, Philippines</h3>
                <p class="text-black-500 flex items-center"><i class="fa fa-solid fa-location-arrow pr-2"></i>Cecilia Chapman 711-2880 Nulla St.Mankato Mississippi 96522</p>
                <p class="text-black-500"><i class="fa fa-solid fa-phone pr-2"></i>(257) 563-7401</p>
            </div>
            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/location.png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-6">Palvan City, Philippines</h3>
                <p class="text-black-500 flex items-center"><i class="fa fa-solid fa-location-arrow pr-2"></i>Cecilia Chapman 711-2880 Nulla St.Mankato Mississippi 96522</p>
                <p class="text-black-500"><i class="fa fa-solid fa-phone pr-2"></i>(257) 563-7401</p>
            </div>
        </div>
        <div class="w-full mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-12 mb-16 md:mb-2 mt-10">
            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/location.png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-6">Manila Philippines</h3>
                <p class="text-black-500 flex items-center"><i class="fa fa-solid fa-location-arrow pr-2"></i>Cecilia Chapman 711-2880 Nulla St.Mankato Mississippi 96522</p>
                <p class="text-black-500"><i class="fa fa-solid fa-phone pr-2"></i>(257) 563-7401</p>
            </div>
            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/location.png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-6">Cebu City, Philippines</h3>
                <p class="text-black-500 flex items-center"><i class="fa fa-solid fa-location-arrow pr-2"></i>Cecilia Chapman 711-2880 Nulla St.Mankato Mississippi 96522</p>
                <p class="text-black-500"><i class="fa fa-solid fa-phone pr-2"></i>(257) 563-7401</p>
            </div>
            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/location.png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-6">Davao City, Philippines</h3>
                <p class="text-black-500 flex items-center"><i class="fa fa-solid fa-location-arrow pr-2"></i>Cecilia Chapman 711-2880 Nulla St.Mankato Mississippi 96522</p>
                <p class="text-black-500"><i class="fa fa-solid fa-phone pr-2"></i>(257) 563-7401</p>
            </div>
            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/location.png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-6">Palvan City, Philippines</h3>
                <p class="text-black-500 flex items-center"><i class="fa fa-solid fa-location-arrow pr-2"></i>Cecilia Chapman 711-2880 Nulla St.Mankato Mississippi 96522</p>
                <p class="text-black-500"><i class="fa fa-solid fa-phone pr-2"></i>(257) 563-7401</p>
            </div>
        </div>
        <div class="w-full mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-12 mb-16 md:mb-2 mt-10">
            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/location.png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-6">Manila Philippines</h3>
                <p class="text-black-500 flex items-center"><i class="fa fa-solid fa-location-arrow pr-2"></i>Cecilia Chapman 711-2880 Nulla St.Mankato Mississippi 96522</p>
                <p class="text-black-500"><i class="fa fa-solid fa-phone pr-2"></i>(257) 563-7401</p>
            </div>
            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/location.png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-6">Cebu City, Philippines</h3>
                <p class="text-black-500 flex items-center"><i class="fa fa-solid fa-location-arrow pr-2"></i>Cecilia Chapman 711-2880 Nulla St.Mankato Mississippi 96522</p>
                <p class="text-black-500"><i class="fa fa-solid fa-phone pr-2"></i>(257) 563-7401</p>
            </div>
            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/location.png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-6">Davao City, Philippines</h3>
                <p class="text-black-500 flex items-center"><i class="fa fa-solid fa-location-arrow pr-2"></i>Cecilia Chapman 711-2880 Nulla St.Mankato Mississippi 96522</p>
                <p class="text-black-500"><i class="fa fa-solid fa-phone pr-2"></i>(257) 563-7401</p>
            </div>
            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/location.png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-6">Palvan City, Philippines</h3>
                <p class="text-black-500 flex items-center"><i class="fa fa-solid fa-location-arrow pr-2"></i>Cecilia Chapman 711-2880 Nulla St.Mankato Mississippi 96522</p>
                <p class="text-black-500"><i class="fa fa-solid fa-phone pr-2"></i>(257) 563-7401</p>
            </div>
        </div>
    </section>

    <section class="py-20 bg-image marginbottom" id="blue">
        <div class="flex flex-col md:flex-row">
            <div class="md:w-2/3 w-full">
                <h1 class="text-5xl bebas mb-6 text-white">More locations coming soon and franchise opportunities now available</h1>
                <p class="text-lg font-light mb-6 text-white">Join the Mum's Laundry family!</p>
                <button class="bg-offwhite text-black py-1 px-2 rounded-full flex items-center space-x-8 button-text font-bold"><span>Explore Our Franchise Opportunities</span>
                    <div class="rounded-full Yarrow">
                       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                           <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                         </svg>  
                    </div>      
               </button>
            </div>
            <div class="w-full">
            </div>
        </div>
    </section>



    <%- include("partials/footer") -%>