<%- include("partials/header2") -%>

    <!-- HERO SECTION -->
    <section class="Linear-gradient" id="padding">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="flex flex-col items-left grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
                <h1 class="text-7xl mb-4 text-white bebas">Laundry Done Right, <br />Right from Your Phone</h1><br />
                <p class="text-white">With the Mum’s Laundry app you can find your nearest store, book a pickup, check on the progress of your laundry and much more!</p>
                <div class="mt-8 flex justify-left items-center">
                    <button class="bg-offwhite py-1 mb-10 px-2 rounded-full flex items-center space-x-4 md:space-x-8 button-text font-bold"><span>Download Now</span>
                         <div class="rounded-full Yarrow">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                              </svg>  
                         </div>      
                    </button>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center">
                <img src="images/girl.png" alt="Mum's Laundry Family" class="rounded-lg">
            </div>
        </div>
    </section>
    </div>

    <!-- OUR SERVICES -->
    <section class="py-16 text-center bg-color" id="blue">
        <h2 class="text-5xl mb-4 bebas">OUR SERVICES</h2>
        <p class="text-lg text-gray-600 mb-12">Mum's Laundry is the newest, freshest and cleanest laundry service in <br />the Philippines!</p>

        <!-- Services Grid -->
        <div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/Group.png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-2">Wash and Fold</h3>
                <p class="text-gray-500">Lorem ipsum is a placeholder text commonly used to</p>
            </div>

            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/Vector.png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-2">Dry Cleaning</h3>
                <p class="text-gray-500">Lorem ipsum is a placeholder text commonly used to</p>
            </div>

            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/Group (1).png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-2">Free Pick Up & Delivery</h3>
                <p class="text-gray-500">Lorem ipsum is a placeholder text commonly used to</p>
            </div>

            <div class="bg-transparent rounded-lg p-6 text-left services_block">
                <div class="text-5xl mb-4">
                    <img src="images/Group (2).png" alt="Washing Machine" class="rounded-lg" />
                </div>
                <h3 class="text-xl font-semibold mb-2">Eco Friendly Materials</h3>
                <p class="text-gray-500">Lorem ipsum is a placeholder text commonly used to</p>
            </div>
        </div>
        <div class="mt-8 flex justify-center items-center">
            <button class="bg-white py-1 px-2 rounded-full flex items-center space-x-4 md:space-x-8 book-btn"><span>Book Your Service Now </span>
            <div class="rounded-full arrow1">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                 </svg>  
            </div>      
       </button>
        </div>
    </section>

    <!-- MAKE YOUR OWN CLOTHES CLEAN  -->
    <section class="py-16 bg-color" id="blue3">
        <div class="container mx-auto">
            <h2 class="text-5xl mb-12 bebas">How We Make Your Clothes <br> Clean & Fresh</h2>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
                <div class="flex flex-col items-left services_block1">
                    <div class="text-4xl mb-4 ">
                        <img src="images/Vector (1).png" alt="Washing Machine" class="round_image" />
                    </div>
                    <h3 class="text-lg font-bold mb-2">Pre-wash inspection</h3>
                    <p class="text-gray-600">We check pockets to make sure nothing ends up in the wash that shouldn’t.</p>
                </div>
                <div class="flex flex-col items-left services_block1">
                    <div class="text-4xl mb-4 ">
                        <img src="images/Group (3).png" alt="Washing Machine" class="round_image" />
                    </div>
                    <h3 class="text-lg font-bold mb-2">Wash them clean & fresh</h3>
                    <p class="text-gray-600">We wash your clothes using our state-of-the-art machines and processes.</p>
                </div>
                <div class="flex flex-col items-left services_block1">
                    <div class="text-4xl mb-4 ">
                        <img src="images/Vector (2).png" alt="Washing Machine" class="round_image" />
                    </div>
                    <h3 class="text-lg font-bold mb-2">Gentle dry</h3>
                    <p class="text-gray-600">We handle your clothes gently for optimal drying without damage.</p>
                </div>
                <div class="flex flex-col items-left services_block1">
                    <div class="text-1xl mb-4">
                        <img src="images/Vector (3).png" alt="Washing Machine" class="round_image" />
                    </div>
                    <h3 class="text-lg font-bold mb-2">Fold</h3>
                    <p class="text-gray-600">We then fold your clothes so they’re ready to be put away.</p>
                </div>

            </div>
        </div>
    </section>

    <!-- PROFESSIONAL AND EFFICIENT LAUNDRY SERVICES -->
    <section class="py-16 bg-color" id="blue3">
        <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="flex flex-col justify-center items-center ">
                <img src="images/about3.png" class="rounded-lg ">
            </div>
            <div class="flex flex-col justify-center items-left">
                <h1 class="text-5xl mb-4 bebas">Professional and efficient laundry services</h1>
                <p class="mb-4">At Mum’s Laundry, we take pride in offering top-notch laundry services that are both professional and efficient. From the moment you drop off your items or schedule a pick-up through our app, we ensure that every garment is treated with
                    the highest level of care. Our state-of-the-art equipment, skilled staff, and streamlined processes guarantee fresh, clean laundry that’s always ready on time. Experience the convenience of fast, reliable service without compromising on quality.</p>
                <!-- TEXT 1 -->
                <div class="flex items-center space-x-4 mb-4">
                    <img src="images/s1.png" alt="Washing Machine" />
                    <span>Convenient door-to-door Pick-Up and <br />Delivery</span>
                </div>
                <!-- TEXT 2 -->
                <div class="flex items-center space-x-4 mb-4">
                    <img src="images/s2.png" alt="Washing Machine" />
                    <span>Track your laundry's progress through our <br />app</span>
                </div>
                <!-- TEXT 3 -->
                <div class="flex items-center space-x-4 mb-4">
                    <img src="images/s3.png" alt="Washing Machine" />
                    <span>Mobile app where you will get everything</span>
                </div>
                <!-- TEXT 4 -->
                <div class="flex items-center space-x-4 mb-4">
                    <img src="images/s4.png" alt="Washing Machine" />
                    <span>Professional cleaning care & Ready to <br/>wear</span>
                </div>
            </div>
        </div>
    </section>

    <!-- OFFERS -->
    <section class="py-16 Liner-gradient" id="blue">
        <div class="container mx-auto text-center">
            <h2 class="text-5xl mb-4 bebas text-white">Mum’s Laundry offers you the <br />best price!</h2>
            <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 mb-16 ">
                <div class="flex flex-col md:items-end items-center">
                    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow text-left">
                        <p class="text-gray-400 text-sm mb-2">Price Pack</p>
                        <h5 class="mb-2 text-2xl font-bold tracking-tight">Gold Pack</h5>
                        <p class="mb-3 font-bold text-black">P 150 / per Load (8kg max)</p>
                        <hr />
                        <div class="flex justify-between items-center mt-4 mb-4 space-x-1">
                            <img src="images/icon1.png" alt="Washing Machine" />
                            <p class="text-left w-1/3">Wash </p>
                            <p class="text-left text-sm w-2/3"><span class="font-bold">P 60</span> per Load (8kg max)</p>
                        </div>
                        <div class="flex justify-between items-center mb-4 space-x-1">
                            <img src="images/icon2.png" alt="Washing Machine" />
                            <p class="text-left w-1/3">Dry</p>
                            <p class="text-left text-sm w-2/3"><span class="font-bold">P 60</span> per Load (8kg max)</p>
                        </div>
                        <div class="flex justify-between items-center mb-4 space-x-1">
                            <img src="images/icon3.png" alt="Washing Machine" />
                            <p class="text-left w-1/3">Fold</p>
                            <p class="text-left text-sm w-2/3"><span class="font-bold">P 30</span> per Load (8kg max)</p>
                        </div>
                        <div class="flex justify-between items-center mb-4 space-x-1">
                            <img src="images/icon4.png" alt="Washing Machine" />
                            <p class="text-left w-1/3">Delivery</p>
                            <p class="text-left text-sm w-2/3">Pick up only</p>
                        </div>
                        <div class="mt-12 flex justify-center items-center">
                            <button class="bg-white py-1 px-2 rounded-full flex items-center space-x-4 md:space-x-8 book-btn"><span>Book Your Service Now </span>
                            <div class="rounded-full arrow1">
                               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                                   <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                 </svg>  
                            </div>      
                       </button>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:items-start items-center">
                    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow text-left">
                        <p class="text-gray-400 text-sm mb-2">Price Pack</p>
                        <h5 class="mb-2 text-2xl font-bold tracking-tight">Premium Pack</h5>
                        <p class="mb-3 font-bold text-black">P 160 / per Load (8kg max)</p>
                        <hr />
                        <div class="flex justify-between items-center mt-4 mb-4 space-x-1">
                            <img src="images/icon1.png" alt="Washing Machine" />
                            <p class="text-left w-1/3">Wash</p>
                            <p class="text-left text-sm w-2/3"><span class="font-bold">P 60</span> per Load (8kg max)</p>
                        </div>
                        <div class="flex justify-between items-center mb-4 space-x-1">
                            <img src="images/icon2.png" alt="Washing Machine" />
                            <p class="text-left w-1/3">Dry</p>
                            <p class="text-left text-sm w-2/3"><span class="font-bold">P 60</span> per Load (8kg max)</p>
                        </div>
                        <div class="flex justify-between items-center mb-4 space-x-1">
                            <img src="images/icon3.png" alt="Washing Machine" />
                            <p class="text-left w-1/3">Fold</p>
                            <p class="text-left text-sm w-2/3"><span class="font-bold">P 60</span> per Load (8kg max)</p>
                        </div>
                        <div class="flex justify-between items-center mb-4 space-x-1">
                            <img src="images/icon4.png" alt="Washing Machine" />
                            <p class="text-left w-1/3">Delivery</p>
                            <p class="text-left text-sm w-2/3"><span class="font-bold">P 10</span> home Delivery</p>
                        </div>
                        <div class="mt-12 flex justify-center items-center">
                            <button class="bg-white py-1 px-2 rounded-full flex items-center space-x-4 md:space-x-8 book-btn"><span>Book Your Service Now </span>
                            <div class="rounded-full arrow1">
                               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                                   <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                 </svg>  
                            </div>      
                       </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="py-20 pt-0">
            <div class=" mt-2 flex container mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 justify-center items-center">
                <div class="flex-col text-white">
                    <h2 class="text-5xl mb-4 bebas">Download Mum’s Laundry<br /> mobile App</h2>
                    <p class="mb-6 text">
                        In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before the final copy is available. In
                        publishing and graphic design, Lorem ipsum is a placeholder text commonly used
                    </p>
                    <div class="flex items-center space-x-2 mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-black rounded-full bg-yellow" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                        </svg>
                        <span>Lorem ipsum is a placeholder text commonly used</span>
                    </div>
                    <div class="flex items-center space-x-2 mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-black rounded-full bg-yellow" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                        </svg>
                        <span>Lorem ipsum is a placeholder text commonly used</span>
                    </div>

                    <div class="flex items-center space-x-2 mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-black rounded-full bg-yellow" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                        </svg>
                        <span>Lorem ipsum is a placeholder text commonly used</span>
                    </div>
                    <br />
                    <div class="mt-8 flex justify-left items-center">
                        <button class="bg-offwhite text-black py-1 px-2 rounded-full flex items-center space-x-4 md:space-x-8 button-text font-bold"><span>Download Our Mobile App</span>
                             <div class="rounded-full Yarrow">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                  </svg>  
                             </div>      
                        </button>
                    </div>
                </div>
                <div class="flex-col">
                    <div class="flex flex-col items-center ">
                        <img src="images/mobile2.png" class="rounded-lg bg-gradient-radial3" alt="Offer 1">
                    </div>
                    <div class="flex justify-center space-x-4 ">
                        <img src="images/appstore.png" class="h-12 w-auto" alt="Offer 1">
                        <img src="images/playstore.png" class="h-12 w-auto" alt="Offer 1">
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!-- What Customers say -->
    <section class="py-16 bg-color" id="blue">
        <div class="container mx-auto  flex flex-col md:flex-row space-x-4">
            <div class="w-full md:w-1/3">
                <h2 class="text-5xl mb-4 bebas">What Customer say about us</h2>
                <p class="font-bold">4.9 &nbsp;&nbsp;Average Rating</p>
                <p class="text-gray-600 mb-8 mt-4">
                    In Playstore average based on <span class="font-bold">70+ reviews.</span> All chances are you’ll be impressed too
                </p>
                <p class="text-gray-600 mb-8">
                    Read what our satisfied customers have to say about Mum's Laundry.
                </p>
            </div>
            <div class="w-full md:w-2/3">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper mb-10">
                        <!-- Carousel Item 1 -->
                        <div class="swiper-slide">
                            <div class="bg-white border border-gray-300 rounded-lg text-black slider">
                                <div class="flex lg:flex-row flex-col items-center space-x-4 space-y-2">
                                    <div class="flex lg:items-center items-left w-full space-x-3">
                                        <img src="images/face.png" class="w-12 h-12 rounded-full" alt="Stephanie Powell" />
                                        <div class="font">
                                            <h6 class="font-bold text-sm md:text-lg">Stephanie Powell</h6>
                                            <p class="text-gray-500 text-sm md:text-lg">Chelopara, Bogra</p>
                                        </div>
                                    </div>

                                    <div class="w-full lg:w-1/3 flex flex-col items-start space-y-1 md:text-lg text-sm">
                                        <h6 class="font"><span class="font-bold">5.0</span>/5.0 rating</h6>
                                        <div class="md:space-x-1 space-x-0 text-yellow-400">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="mt-6 font-bold text-lg md:text-2xl">"Best service in the country!"</h2>
                                <p class="mt-4 md:text-lg text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. </p>
                            </div>
                        </div>

                        <!-- Carousel Item 2 -->
                        <div class="swiper-slide">
                            <div class="bg-white border border-gray-300 rounded-lg text-black slider">
                                <div class="flex lg:flex-row flex-col items-center space-x-4 space-y-2">
                                    <div class="flex lg:items-center items-left w-full space-x-3">
                                        <img src="images/face.png" class="w-12 h-12 rounded-full" alt="Stephanie Powell" />
                                        <div class="font">
                                            <h6 class="font-bold text-sm md:text-lg">Stephanie Powell</h6>
                                            <p class="text-gray-500 text-sm md:text-lg">Chelopara, Bogra</p>
                                        </div>
                                    </div>

                                    <div class="w-full lg:w-1/3 flex flex-col items-start space-y-1 md:text-lg text-sm">
                                        <h6 class="font"><span class="font-bold">5.0</span>/5.0 rating</h6>
                                        <div class="md:space-x-1 space-x-0 text-yellow-400">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="mt-6 font-bold text-lg md:text-2xl">"Best service in the country!"</h2>
                                <p class="mt-4 md:text-lg text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. </p>
                            </div>
                        </div>

                        <!-- Carousel Item 3 -->
                        <div class="swiper-slide">
                            <div class="bg-white border border-gray-300 rounded-lg text-black slider">
                                <div class="flex lg:flex-row flex-col items-center space-x-4 space-y-2">
                                    <div class="flex lg:items-center items-left w-full space-x-3">
                                        <img src="images/face.png" class="w-12 h-12 rounded-full" alt="Stephanie Powell" />
                                        <div class="font">
                                            <h6 class="font-bold text-sm md:text-lg">Stephanie Powell</h6>
                                            <p class="text-gray-500 text-sm md:text-lg">Chelopara, Bogra</p>
                                        </div>
                                    </div>

                                    <div class="w-full lg:w-1/3 flex flex-col items-start space-y-1 md:text-lg text-sm">
                                        <h6 class="font"><span class="font-bold">5.0</span>/5.0 rating</h6>
                                        <div class="md:space-x-1 space-x-0 text-yellow-400">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="mt-6 font-bold text-lg md:text-2xl">"Best service in the country!"</h2>
                                <p class="mt-4 md:text-lg text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. </p>
                            </div>
                        </div>

                        <!-- Carousel Item 4 -->
                        <div class="swiper-slide">
                            <div class="bg-white border border-gray-300 rounded-lg text-black slider">
                                <div class="flex lg:flex-row flex-col items-center space-x-4 space-y-2">
                                    <div class="flex lg:items-center items-left w-full space-x-3">
                                        <img src="images/face.png" class="w-12 h-12 rounded-full" alt="Stephanie Powell" />
                                        <div class="font">
                                            <h6 class="font-bold text-sm md:text-lg">Stephanie Powell</h6>
                                            <p class="text-gray-500 text-sm md:text-lg">Chelopara, Bogra</p>
                                        </div>
                                    </div>

                                    <div class="w-full lg:w-1/3 flex flex-col items-start space-y-1 md:text-lg text-sm">
                                        <h6 class="font"><span class="font-bold">5.0</span>/5.0 rating</h6>
                                        <div class="md:space-x-1 space-x-0 text-yellow-400">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="mt-6 font-bold text-lg md:text-2xl">"Best service in the country!"</h2>
                                <p class="mt-4 md:text-lg text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer") -%>